.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.border-radius {
  border-radius: 20px;
}

.no-border {
  border: none;
}

.bg-tea-choco {
  background-color: #4e2e1d;
}

.bg-tea-cream {
  background-color: #fcdfc2;
}

.bg-tea-one {
  background-color: #f1a159;
}

.bg-tea-two {
  background-color: #feb05c;
}

.bg-tea-three {
  background-color: #f5962c;
}

.bg-tea-four {
  background-color: #f37600;
}

.text-tea-choco {
  color: #4e2e1d;
}

.text-tea-cream {
  color: #fcdfc2;
}

.text-tea-one {
  color: #f1a159;
}

.text-tea-two {
  color: #feb05c;
}

.text-tea-three {
  color: #f5962c;
}

.text-tea-four {
  color: #f37600;
}

.font-weight {
  font-weight: 600;
}

.font-size-form {
  font-size: 1vw;
}

.font-size-label {
  font-size: 1.5vw;
}

.font-size-button {
  font-size: 1.25vw;
}

.font-size-title {
  font-size: 1.75vw;
}
