.tea-choco {
  background-color: 4e2e1d;
}

.tea-cream {
  background-color: fcdfc2;
}

.tea-one {
  background-color: f1a159;
}

.tea-two {
  background-color: feb05c;
}

.tea-three {
  background-color: f5962c;
}

.tea-four {
  background-color: f37600;
}
